<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../partials/head') %>
   <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <%- include('../partials/nav') %>

    <div class="container mt-5 login-container">
        <% if (message && message.text) { %>
            <div class="alert alert-<%= message.type %>">
              <%= message.text %>
            </div>
        <% } %>
        <h3 class="text-center">Şifre Sıfırla</h3>
        <form method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <button type="submit" class="btn btn-primary w-100" id="submitButton">Şifreyi Sıfırla</button>
        </form>
    </div>

    <%- include('../partials/script') %>
</body>
</html>
