<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../partials/head') %>
   <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <%- include('../partials/nav') %>

    <div class="container mt-3 login-container">
        <% if (message && message.text) { %>
            <div class="alert alert-<%= message.type %>">
                <%= message.text %>
            </div>
        <% } %>
        <h3 class="text-center">Giriş Yap</h3>
        <form method="post">
            <div class="mb-4">
                <label for="email" class="form-label">E-Posta</label>
                <input type="email" class="form-control" id="email" name="email" required placeholder="E-posta adresinizi girin">
            </div>
            <div class="mb-4 position-relative">
                <label for="password" class="form-label">Şifre</label>
                <input type="password" class="form-control" id="password" name="password" required placeholder="Şifrenizi girin">
                <i class="bi bi-eye-fill position-absolute" id="eye-toggleBtn" style="right: 15px; top: 40px; cursor: pointer;"></i>
            </div>
            <button type="submit" class="btn login-button w-100">Giriş Yap</button>
        </form>
        <div class="login-footer">
            <a href="/register">Hesap oluştur</a> | <a href="/forgot-password">Şifremi Unuttum</a>
        </div>
    </div>

    <%- include('../partials/script') %>
    <script src="/static/js/password-hide.js"></script>
</body>
</html>
