<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../partials/head') %>
   <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <%- include('../partials/nav') %>

    <div class="container mt-5 login-container">
        <% if (message && message.text) { %>
            <div class="alert alert-<%= message.type %>">
              <%= message.text %>
            </div>
        <% } %>
        <%- include('../partials/password-rules') %>
        <h3 class="text-center">Şifre Değiştir</h3>
        <form method="post">
            <div class="mb-3">
                <label for="oldPassword" class="form-label">Eski Şifre</label>
                <input type="password" class="form-control" id="oldPassword" name="oldPassword">
            </div>
            <div class="mb-3">
                <label for="newPassword" class="form-label">Yeni Şifre</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword">
            </div>
            <small class="password-confirm-container text-danger">şifreler eşleşmiyor!</small>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Yeni Şifre Tekrar</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
            </div>
            <button type="submit" class="btn btn-primary w-100" id="submitButton">Şifreyi Değiştir</button>
        </form>
    </div>

    <%- include('../partials/script') %>
    <script src="/static/js/password-match.js"></script>
</body>
</html>
